.header{
    height: 60px;
    display: flex;
    align-items:  center;
    box-shadow: 0 2px 8px #f0f1f2;
    flex-shrink: 0;
    background-color: #1890ff;
    .title{
        width: 200px;
        display: flex;
        justify-content: center;
        // border-right: 1px solid #002140;
        height: 100%;
        align-items: center;
        color: #fff;
        // background-color: #002140;
    }
    .icon{
        width: 80px;
        display: flex;
        justify-content: center;
        border-right: 1px solid #002140;
        height: 100%;
        align-items: center;
        color: #fff;
        background-color: #002140;
    }
    .header-menu{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding:0 20px 0 0;
        .logout{
            cursor: pointer;
            color: #fff;
        }
        button{
            border: none;
            box-shadow: none;
            i{
                font-size: 18px;
            }
        }
    }
}