.breadcrumb-content{
    ul{
        display: flex;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;
        padding-bottom: 14px;
        li{
            padding: 0 8px;
            .active-tab{
                color: #1890ff;
            }
            a{
                color: #000;
            }
        }
        
    }
    
}