@import "~antd/dist/antd.less";

.App{
    display: flex;
    flex-direction: column;
    height: 100%;
    .container{
        flex: 1;
        display: flex;
        margin-top: 5px;
        .main{
            flex: 1;
        }
    }
}