{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": ["react-app", "plugin:jsx-a11y/recommended"],
    "plugins": ["react", "jsx-a11y"]
}