{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": ["react-app"],
    "plugins": ["react"],
    "rules": {
//        "indent": [2, 4], // ]控制缩进为2
        "indent": 0, // ]控制缩进为2
        "quotes": [2, "single"], //单引号
        "no-console": 0, //不禁用console
        "no-debugger": 1, //警告debugger
        "no-var": 0, //对var禁止
        "semi": 2, //强制使用分号
        "no-underscore-dangle": 0, //标识符不能以_开头或结尾
        "no-alert": 2, //禁止使用alert confirm prompt
        "no-dupe-keys": 2, //在创建对象字面量时不允许键重复
        "no-duplicate-case": 2, //switch中的case标签不能重复
        "no-dupe-args": 2, //函数参数不能重复
        "no-empty": 2, //块语句中的内容不能为空
        "no-func-assign": 2, //禁止重复的函数声明
        "no-invalid-this": 0, //禁止无效的this，只能用在构造器，类，对象字面量
        "no-redeclare": 2, //禁止重复声明变量
        "no-this-before-super": 0, //在调用super()之前不能使用this或super
        "no-use-before-define": 2, //未定义前不能使用
        "camelcase": 0, //强制驼峰法命名
        "prefer-const": ["error", {
          "destructuring": "all"
        }]
    }
}
